<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>Saludo2</servlet-name>
        <url-pattern>/Saludo2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Darle un nombre al servlet creado en el paquete dado-->
    <servlet>
        <servlet-name>Hola</servlet-name>
        <servlet-class>es.albarregas.servlets.Saludo</servlet-class>
    </servlet>
    <!--Mapeo del servler: context/nombre de la clase-->
    <servlet>
        <servlet-name>Saludo2</servlet-name>
        <servlet-class>es.albarregas.servlets.Saludo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hola</servlet-name>
        <url-pattern>/saludo</url-pattern>
    </servlet-mapping>
</web-app>
